1.tampilkan output : "Hallo saya siap belajar bahasa pemprograman python" dengan menggunakan print()

In [1]:
#Ketik kode Anda disini
print("Hallo saya siap belajar bahasa pemprograman python")

Hallo saya siap belajar bahasa pemprograman python

2.Cek tipe data dari 20/5

In [2]:
#Ketik kode Anda disini
type(20/5)

float

3.Konversi 0 ke boolean!

In [3]:
#Ketik kode Anda disini
bool(0)

False

4.Buatlah variabel firstname dan variable lastname dengan nama anda lalu print hasilnya

In [ ]:
#Contoh
firtsname = 'Muhammad'
lastname = 'Naufal'
print("nama depan:",firtsname)
print("nama belakang:",lastname)

nama depan: Muhammad
nama belakang: Naufal

In [4]:
#Ketik kode Anda disini
firtsname = 'Dimas'
lastname = 'Furqon Prawimastoro'
print("nama depan:",firtsname)
print("nama belakang:",lastname)

nama depan: Dimas
nama belakang: Furqon Prawimastoro

5.Buatlah variabel "a" berupa angka interger dan variabel "b" berupa angka interger (angka bebas)

*   print(a+b)
*   Lihatlah hasil pembagian a dan b lalu buatlah menjadi interger

* print(a*b)
* print a pangkat b

In [ ]:
#Contoh
a = 10
b = 5
print(a+b)
print(a/b) #hasil float
print(a//b) #hasil interger
print(a*b)
print(a**b)

15
2.0
2
50
100000

In [6]:
#Ketik kode Anda disini (bedakan angka/code boleh berbeda yang terpenting hasilnya)
a = 10
b = 3
print(a+b)
print(a/b) #hasil float
print(a//b) #hasil interger
print(a*b)
print(a**b)

13
3.3333333333333335
3
30
1000

6.Hitunglah total harga dari 3 buah penghapus seharga 3500, 5 buah buku seharga 25000

In [35]:
#Ketik kode Anda disini
penghapus = 3500/3
buku = 25000/5
total = penghapus + buku
print(f"Harga total Satuan adalah :{total:.3f} Rupiah")
total_belanja = 3*penghapus + 5*buku
print("Harga total belanja adalah :",total_belanja,"Rupiah")

Harga total Satuan adalah :6166.667 Rupiah
Harga total belanja adalah : 28500.0 Rupiah

7.Harga sebuah barang adalah 750000, hitunglah harga barang setelah mendapat potongan harga 45%!

In [14]:
#Ketik kode Anda disini
harga_barang = 750000
diskon = 0.45 * 750000
harga_setelah_diskon = harga_barang - diskon
print("Harga setelah diskon adalah :",harga_setelah_diskon,"Rupiah")

Harga setelah diskon adalah : 412500.0 Rupiah

8.Ambil indeks ke 2 dari string "Python itu asik"

In [ ]:
#contoh indexing
teks = 'Belajar itu asik'
teks[2] #ambil index ke 2

'l'

In [36]:
#Ketik kode Anda disini
teks = 'Python itu asik'
teks[2] #ambil index ke 2

't'

9.Ambil kata "yuk" dari string "ayuk"

In [39]:
#Ketik kode Anda disini
teks = 'ayuk'
teks[1:4]

'yuk'

10.Keluarkan output "Akhirnya selesai"

In [40]:
#Ketik kode Anda disini
print("Akhirnya selesai")

Akhirnya selesai

11.Gabungkan list a = [1,'hallo', 2,3] dengan list b = ['pagi', 1000]

In [ ]:
#Cara gabungkan list
a = ['test',1,2]
b = [3,4,5]
a+b

['test', 1, 2, 3, 4, 5]

In [41]:
#Ketik kode Anda disini
a = [1,'hallo',2,3]
b = ['pagi',1000]
a+b

[1, 'hallo', 2, 3, 'pagi', 1000]

12.Buatlah sebuah list new_list yang berisi indonesia, True, 7, [1, 2, 3], 1.5

In [ ]:
#Cara buat nested list
contoh = ['malaysia',True,[9,8,7],2.5] #isi list hanya contoh
contoh

['malaysia', True, [9, 8, 7], 2.5]

In [43]:
#Ketik kode Anda disini
new_list = ['indonesia','True',7,[1,2,3],1.5]
new_list

['indonesia', 'True', 7, [1, 2, 3], 1.5]

13.Ambil elemen list pada indeks 2 dari list new_list

In [ ]:
#Contoh indexing list indeks
contoh = ['malaysia',True,[9,8,7],2.5] #isi list hanya contoh
contoh[2]

[9, 8, 7]

In [44]:
#Ketik kode Anda disini
new_list[2]

7

14.Ambil elemen list pada indeks 1, 2, 3 dari list new_list !

In [ ]:
#cara slicing
contoh[1:4]

[True, [9, 8, 7], 2.5]

In [45]:
#Ketik kode Anda disini
new_list[1:4]

['True', 7, [1, 2, 3]]

15.Hapus 1.5 pada list new_list

In [ ]:
#cara hapus isi list
contoh.remove(2.5)
contoh

['malaysia', True, [9, 8, 7]]

In [46]:
#Ketik kode Anda disini
new_list.remove(1.5)
new_list

['indonesia', 'True', 7, [1, 2, 3]]

-Selamat mengerjakan-